h1{
    background-color: purple;
    color:yellow;
}
#name{
    color: orange;
}
#chap_1{
    background-color: aliceblue;
}
#chap_2{
    background-color: aliceblue;
}
#chap_3{
    background-color: aliceblue;
}
#chap_4{
    background-color: aliceblue;
}
body{
    background-color: darkgray;
}
